<h2 class="section-heading">{{ section.settings.section_heading }}</h2>
<div class="page-width home-testimonials-container">
  {% for block in section.blocks %}
    {{ block.settings.video_url | video_tag: autoplay: false, loop: true, muted: false, controls: true }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Home Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Discover What’s Making Everyone Go Wild!"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "video",
          "id": "video_url",
          "label": "Video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Placeholder"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Testimonials"
    }
  ]
}
{% endschema %}
