<div class="home-promises-parent-container">
  <img
    class="promises-background-image"
    src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/2151001627.jpg?v=1737700954"
  >
  <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
  <div class="page-width home-promises-container">
    <div class="background-images-container">
      <img src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/file_29_1.png?v=1737700505">
      <img src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/file_30_1.png?v=1737700505">
    </div>
    <img
      class="promises-main-image"
      src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/11_d0826c6d-46a3-4e57-a6a3-585a7b087a99.png?v=1738689761"
    >
    <img
      class="promises-main-image"
      src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/33_f2cfea92-3840-4261-b69d-cb3b233754f5.png?v=1738689761"
    >
    <img
      class="promises-main-image"
      src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/22_23519c71-204f-4e61-b5f9-8adf2c1b0455.png?v=1738689761"
    >
    <img
      class="promises-main-image"
      src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/44.png?v=1738689761"
    >
  </div>
</div>
<style>
  .home-promises-parent-container {
    width: 100%;
    height: fit-content;
    position: relative;
    margin-top: 50px;
    padding-top: 1px;
  }
  .home-promises-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
  }
  .promises-background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .background-images-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
  }
  .background-images-container img {
    width: 250px;
    height: auto;
  }
  .promises-main-image {
    width: 150px;
    height: auto;
  }
  @media (max-width: 850px) {
    .background-images-container img {
      width: 170px;
    }
    .home-promises-container {
      display: grid;
      grid-template-columns: repeat(2, 0fr); /* 2 equal-width columns */
      grid-template-rows: repeat(2, auto); /* 2 rows with auto height */
      gap: 20px; /* Optional: Spacing between grid items */
      align-items: center; /* Vertically center content */
      justify-items: center; /* Horizontally center content */
    }

    .promises-main-image {
      width: 20rem;
      scale: 1.2;
    }
  }
  @media (max-width: 500px) {
    .home-promises-container {
      gap: 0;
    }
    .background-images-container {
      display: none;
    }
    .home-promises-container {
      display: flex;
      flex-wrap: wrap;
    }
    .promises-main-image {
      width: 17rem;
    }
  }
</style>
{% schema %}
{
  "name": "Home Promises",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Our Promises"
    }
  ],
  "presets": [
    {
      "name": "Home Promises"
    }
  ]
}
{% endschema %}
