<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<div class="deal-of-the-day-container">
  <img
    class="background-image"
    src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/Group_256.jpg?v=1737550774"
  >
  <div class="page-width deal-of-the-day-content">
    <div class="deal-of-the-day-text-container">
      <div class="deal-of-the-day-text">
        <p class="deal-of-the-day-heading">Deals</p>
        <p class="deal-of-the-day-heading-2">of the Day</p>
        <p class="deal-of-the-day-subheading">
          New Deals Everyday,<br>
          Grab upto <span>50% Off</span>
        </p>
        <img src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/Group_282.png?v=1737758542">
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/Group_255.png?v=1737550749">
    </div>
    <div class="deal-of-the-day-products">
      <div class="dotd-product-1">
        {% render 'card-product',
          card_product: section.settings.product_1,
          show_secondary_image: true,
          lazy_load: true,
          quick_add: 'standard',
          section_id: section.id,
          horizontal_class: false,
          horizontal_quick_add: false,
          show_rating: true,
          media_aspect_ratio: 'square'
        %}
        <p class="lowest-price-badege">Lowest Price Ever</p>
      </div>
      <div class="dotd-product-2">
        {% render 'card-product',
          card_product: section.settings.product_2,
          show_secondary_image: true,
          lazy_load: true,
          quick_add: 'standard',
          section_id: section.id,
          horizontal_class: false,
          horizontal_quick_add: false,
          show_rating: true,
          media_aspect_ratio: 'square'
        %}
        <p class="lowest-price-badege">Lowest Price Ever</p>
      </div>
      <div class="dotd-product-3">
        {% render 'card-product',
          card_product: section.settings.product_3,
          show_secondary_image: true,
          lazy_load: true,
          quick_add: 'standard',
          section_id: section.id,
          horizontal_class: false,
          horizontal_quick_add: false,
          show_rating: true,
          media_aspect_ratio: 'square'
        %}
        <p class="lowest-price-badege">Lowest Price Ever</p>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    gsap.registerPlugin(ScrollTrigger);

    gsap.utils.toArray(['.dotd-product-1', '.dotd-product-2', '.dotd-product-3']).forEach((product) => {
      gsap.fromTo(
        product,
        { opacity: 0, y: 30 }, // Start slightly below with opacity 0
        {
          opacity: 1,
          y: 0,
          duration: 1,
          ease: 'power2.out',
          scrollTrigger: {
            trigger: product,
            start: 'top 85%', // Starts when 85% of element is in view
            end: 'top 30%', // Starts fading out when 30% is in view
            scrub: true, // Smooth transition while scrolling
            toggleActions: 'play none none reverse', // Reverse on exit
          },
        }
      );
    });
  });
</script>

{% schema %}
{
  "name": "Hot Deals",
  "settings": [
    {
      "id": "product_1",
      "type": "product",
      "label": "Select Product 1"
    },
    {
      "id": "product_2",
      "type": "product",
      "label": "Select Product 2"
    },
    {
      "id": "product_3",
      "type": "product",
      "label": "Select Product 3"
    }
  ],
  "presets": [
    {
      "name": "Deal of the Day"
    }
  ]
}
{% endschema %}
