<div class="home-discreet-packaging">
  <img class="discreet_desktop_image" src="{{section.settings.image | img_url: 'master'}}" alt="Discreet Packaging">
  <img
    class="discreet_mobile_image"
    src="{{section.settings.mobile_image | img_url: 'master'}}"
    alt="Discreet Packaging"
  >
  <button id="know-more-btn">{{ section.settings.button_text }}</button>
  <div id="popup-backdrop" class="hidden">
    <div id="popup-image-container">
      <p class="discreet-deliver-X">X</p>
      <img
        src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/Discreet_Delivery_Pop_up_image_2.png?v=1739948622"
        alt="Discreet Delivery Popup"
      >
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const popupBackdrop = document.getElementById('popup-backdrop');
    const knowMoreBtn = document.getElementById('know-more-btn');
    const closeButton = document.querySelector('.discreet-delivery-X'); // Select the close button

    // Toggle popup and manage scroll behavior
    const togglePopup = () => {
      const isHidden = popupBackdrop.classList.contains('hidden');
      popupBackdrop.classList.toggle('hidden');
      document.body.style.overflow = isHidden ? 'hidden' : 'auto';
    };

    // Show popup when "Know More" is clicked
    knowMoreBtn.addEventListener('click', togglePopup);

    // Hide popup when backdrop is clicked
    popupBackdrop.addEventListener('click', (e) => {
      if (e.target === popupBackdrop) {
        togglePopup();
      }
    });

    // Hide popup when the close button is clicked
    if (closeButton) {
      closeButton.addEventListener('click', togglePopup);
    }
  });
</script>
<style>
  #popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(8px);
  }
  .home-discreet-packaging {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 50px 0 0;
  }
  .home-discreet-packaging img {
    width: 100%;
    height: auto;
  }
  .home-discreet-packaging button {
    position: absolute;
    bottom: 30px;
    font-size: 1.2rem;
    padding: 1.3rem 3rem;
    background-color: #ffb800;
    color: #333333;
    border-radius: 500px;
    border: 0;
  }
  .discreet_desktop_image {
    display: flex;
  }
  .discreet_mobile_image {
    display: none;
  }
  @media (max-width: 850px) {
    .discreet_desktop_image {
      display: none;
    }
    .discreet_mobile_image {
      display: flex;
    }
    .home-discreet-packaging {
      margin: 0;
    }
    .home-discreet-packaging img {
      width: 100%;
    }
    .home-discreet-packaging button {
      bottom: 20px;
    }
  }
  #popup-image-container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .discreet-deliver-X {
    position: absolute;
    top: 0px;
    color: #fff;
    font-family: cursive;
    right: 20px;
    padding: 6px 13px;
    border: solid 1px #fff;
    border-radius: 500px;
    width: 50px;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background: #00000050;
  }

  #popup-image-container img {
    max-width: 400px;
    height: auto;
    display: block;
  }
  @media (max-width: 500px) {
    #popup-image-container img {
      max-width: 330px;
    }
  }
</style>

{% schema %}
{
  "name": "Discreet Delivery",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "CHECK PACKAGING"
    }
  ],
  "presets": [
    {
      "name": "Discreet Delivery"
    }
  ]
}
{% endschema %}
