<div class="home-discreet-packaging">
  <img class="discreet_desktop_image" src="{{section.settings.image | img_url: 'master'}}" alt="Discreet Packaging">
  <img
    class="discreet_mobile_image"
    src="{{section.settings.mobile_image | img_url: 'master'}}"
    alt="Discreet Packaging"
  >
  <button>{{ section.settings.button_text }}</button>
</div>

<style>
  .home-discreet-packaging {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 50px 0 0;
  }
  .home-discreet-packaging img {
    width: 100%;
    height: auto;
  }
  .home-discreet-packaging button {
    position: absolute;
    bottom: 30px;
    font-size: 1.2rem;
    padding: 1.3rem 3rem;
    background-color: #ffb800;
    color: #333333;
    border-radius: 500px;
    border: 0;
  }
  .discreet_desktop_image {
    display: flex;
  }
  .discreet_mobile_image {
    display: none;
  }
  @media (max-width: 850px) {
    .discreet_desktop_image {
      display: none;
    }
    .discreet_mobile_image {
      display: flex;
    }
    .home-discreet-packaging {
      margin: 0;
    }
    .home-discreet-packaging img {
      width: 100%;
    }
    .home-discreet-packaging button {
      bottom: 20px;
    }
  }
</style>

{% schema %}
{
  "name": "Discreet Delivery",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "CHECK PACKAGING"
    }
  ],
  "presets": [
    {
      "name": "Discreet Delivery"
    }
  ]
}
{% endschema %}
