<div class="page-width lp-featured_product-container">
  <div class="lp-featured_product-left-container">
    {% assign product = section.settings.product.value %}
    Product:{{ section.settings.product.value }}
    {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
    <div class="product product--medium product--left product--thumbnail_slider product--mobile-show grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
      <div class="grid__item product__media-wrapper">
        {% render 'product-media-gallery', variant_images: variant_images %}
      </div>
    </div>
  </div>
  <div class="lp-featured_product-right-container"></div>
</div>

{% schema %}
{
  "name": "LP Featured Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "LP Featured Product"
    }
  ]
}
{% endschema %}
