<div class="lp-banner-container">
  {% if section.settings.section_heading %}
    <h2 class="page-width kwyg-heading section-heading">{{ section.settings.section_heading }}</h2>
  {% endif %}
  {% for block in section.blocks %}
    <img class="lp-desktop-banner" src="{{block.settings.desktop_image |  image_url }}">
    <img class="lp-mobile-banner" src="{{block.settings.mobile_image |  image_url }}">
  {% endfor %}
</div>

<style>
  .kwyg-heading {
    position: sticky;
    top: 0;
    background: #000;
    width: -webkit-fill-available;
    margin-left: 0;
    padding: 0;
    margin-right: 0;
  }
  .lp-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .lp-desktop-banner {
    display: flex;
  }
  .lp-mobile-banner {
    display: none;
  }
  .lp-desktop-banner,
  .lp-mobile-banner {
    width: 100%;
    height: auto;
  }
  @media (max-width: 750px) {
    .lp-desktop-banner {
      display: none;
    }
    .lp-mobile-banner {
      display: flex;
    }
  }
</style>
{% schema %}
{
  "name": "LP KWYG",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Discover What’s Making Everyone Go Wild!"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LP KWYG"
    }
  ]
}
{% endschema %}
