<div class="product-bullets-container">
  {% for bullet in product.metafields.content.product_bullets.value %}
    <div class="product-bullet">
      <img src="{{bullet.image |  image_url }}">
      <p>{{ bullet.text }}</p>
    </div>
  {% endfor %}
</div>
<style>
  .product-bullets-container {
    background-color: #382d43;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
    margin-bottom: 50px;
  }
  .product-bullets-container .product-bullet {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
  }
  .product-bullets-container .product-bullet img {
    width: fit-content;
    height: 35px;
  }
  .product-bullets-container .product-bullet p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  @media (max-width: 1200px) {
    .product-bullets-container .product-bullet p {
      margin: 0;
      font-size: 1.3rem;
      letter-spacing: 0;
    }
    .product-bullets-container .product-bullet img {
      height: 30px;
    }
  }

  @media (max-width: 800px) {
    .product-bullets-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 15px;
      padding: 25px 15px;
      justify-content: center;
      align-items: center;
    }
  }
</style>

{% schema %}
{
  "name": "Product Bullets Strip",
  "settings": [],
  "presets": [
    {
      "name": "Product Bullets Strip"
    }
  ]
}
{% endschema %}
