<div class="product-bullets-container">
  {% for bullet in product.metafields.content.product_bullets.value %}
    <div class="product-bullet">
      <img src="{{bullet.image |  image_url }}">
      <p>{{ bullet.text }}</p>
    </div>
  {% endfor %}
</div>
<style>
  .product-bullets-container {
    background-color: #382d43;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-bullets-container .product-bullet {
    display: flex;
    gap: 10px;
  }
  .product-bullets-container .product-bullet img {
    width: 35px;
    height: fit-content;
  }
</style>

{% schema %}
{
  "name": "Product Bullets Strip",
  "settings": [],
  "presets": [
    {
      "name": "Product Bullets Strip"
    }
  ]
}
{% endschema %}
