<div class="product-bullets-container">
  <div class="product-bullets">
    {% for bullet in product.metafields.content.product_bullets.value %}
      <div class="product-bullet">
        <img src="{{bullet.image |  image_url }}">
        <p>{{ bullet.text }}</p>
      </div>
    {% endfor %}
    {% for bullet in product.metafields.content.product_bullets.value %}
      <div class="product-bullet">
        <img src="{{bullet.image |  image_url }}">
        <p>{{ bullet.text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .product-bullets-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #332b3a;
    padding: 12px 0px 7px;
  }

  .product-bullets {
    display: inline-flex;
    gap: 50px;
    animation: scrollText 150s linear infinite;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .product-bullets-container .product-bullet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product-bullets-container .product-bullet img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 35px;
  }
  .product-bullets-container .product-bullet p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0;
    color: #fff;
    text-transform: uppercase;
  }
  @media (max-width: 1200px) {
    .product-bullets-container .product-bullet p {
      margin: 0;
      font-size: 1.3rem;
      letter-spacing: 0;
    }
    .product-bullets-container .product-bullet img {
      height: 30px;
    }
  }
  @media (max-width: 850px) {
    .product-bullets-container .product-bullet p {
      font-size: 1.2rem;
    }
  }
</style>

{% schema %}
{
  "name": "Product Bullets Strip",
  "settings": [],
  "presets": [
    {
      "name": "Product Bullets Strip"
    }
  ]
}
{% endschema %}
