<div class="product-bullets-container">
  <div class="product-bullets">
    {% for bullet in product.metafields.content.product_bullets.value %}
      <div class="product-bullet">
        <img src="{{bullet.image |  image_url }}">
        <p>{{ bullet.text }}</p>
      </div>
    {% endfor %}
    {% for bullet in product.metafields.content.product_bullets.value %}
      <div class="product-bullet">
        <img src="{{bullet.image |  image_url }}">
        <p>{{ bullet.text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .product-bullets-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #332b3a;
  }

  .product-bullets {
    display: inline-flex;
    animation: scrollText 150s linear infinite;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .product-bullets-container .product-bullet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product-bullets-container .product-bullet img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 35px;
  }
  .product-bullets-container .product-bullet p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  /* .product-bullets-container {
    background-color: #382d43;
    color: #fff;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (max-width: 1200px) {
    .product-bullets-container .product-bullet p {
      margin: 0;
      font-size: 1.3rem;
      letter-spacing: 0;
    }
    .product-bullets-container .product-bullet img {
      height: 30px;
    }
  }

  @media (max-width: 850px) {
    .product-bullets-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 15px 1fr;
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: auto 15px auto;
      grid-template-rows: repeat(2, auto);
      gap: 15px;
      padding: 25px 15px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .product-bullets-container > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .product-bullets-container > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .product-bullets-container > *:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .product-bullets-container > *:nth-child(4) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
  } */
</style>

{% schema %}
{
  "name": "Product Bullets Strip",
  "settings": [],
  "presets": [
    {
      "name": "Product Bullets Strip"
    }
  ]
}
{% endschema %}
