<div class="product-banners-fold-container page-width">
  <img src="{{product.metafields.content.banner_1}}">
  <img src="{{product.metafields.content.banner_2}}">
</div>
{% schema %}
{
  "name": "Product Banners Fold",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Banners Fold"
    }
  ]
}
{% endschema %}
