<div class="product-banners-fold-container page-width">
  <img src="{{ product.metafields.content.banner_1 | image_url }}">
  <img src="{{ product.metafields.content.banner_2 | image_url }}">
</div>
{% schema %}
{
  "name": "Product Banners Fold",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Banners Fold"
    }
  ]
}
{% endschema %}
