<div class="sticky-atc-container">
  <img class="go-to-top-button" src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/Group_349.png?v=1738697314">
  <div class="page-width">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}
    {%- render 'sticky-price', product: product, use_variant: true, price_class: 'price--large' -%}
    <div class="sticky-atc-container-buy-button">
      {%- render 'buy-buttons', product: product, product_form_id: product_form_id, section_id: section.id -%}
    </div>
  </div>
</div>
<style>
  .sticky-atc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
  }
  .go-to-top-button {
    margin-right: 42px;
    margin-bottom: 15px;
    border-radius: 50% !important;
    width: 40px !important;
    cursor: pointer;
  }
  .sticky-atc-container img {
    width: 50px;
    border-radius: 10px;
  }
  .price__container_parent {
    display: flex;
    gap: 5px;
  }
  .sticky-atc-container .page-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(103, 0, 192, 1), rgba(1, 0, 1, 1) 100%);
    border: solid 1px #382d43;
    width: 100%;
    padding: 15px 5rem;
    gap: 20px;
  }
  .sticky-atc-container .page-width .price--large {
    width: fit-content;
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
  }
  .sticky-atc-container .page-width .price--on-sale .price__sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sticky-atc-container-buy-button {
    width: 45%;
  }
  .sticky-atc-container-buy-button button {
    font-size: 1.7rem;
    line-height: 0;
    font-family: 'Kanit';
    font-weight: 400;
  }
  .sticky-atc-container .price-item--sale,
  .sticky-atc-container .page-width .price--large p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0;
    line-height: 2.5rem;
    margin: 0;
    color: #fff !important;
  }
  .sticky-atc-container .price--on-sale .price-item--regular {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0;
    line-height: 2.5rem;
    margin: 0;
    color: #fff !important;
    opacity: 0.7;
  }
  @media (max-width: 500px) {
    .sticky-atc-container .page-width {
      padding: 6px 10px;
    }
    .go-to-top-button {
      margin-bottom: 10px;
      margin-right: 10px;
    }
    .sticky-atc-container-buy-button {
      margin-right: -8px;
      scale: 0.9;
    }
    .sticky-atc-container-buy-button button {
      font-size: 1.7rem;
      letter-spacing: 0;
    }
  }
</style>
<script>
  document.querySelector('.go-to-top-button').addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  });
</script>
{% schema %}
{
  "name": "Sticky A2C",
  "settings": [],
  "presets": [
    {
      "name": "Sticky A2C"
    }
  ]
}
{% endschema %}
