<div class="sticky-atc-container">
  <div class="page-width">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}
    {%- render 'sticky-price', product: product, use_variant: true, price_class: 'price--large' -%}
    <div class="sticky-atc-container-buy-button">
      {%- render 'buy-buttons', product: product, product_form_id: product_form_id, section_id: section.id -%}
    </div>
  </div>
</div>
<style>
  .sticky-atc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sticky-atc-container .page-width {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 1px #382d43;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 15px 0;
    gap: 20px;
  }
  .sticky-atc-container .page-width .price--large {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sticky-atc-container .page-width .price--on-sale .price__sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sticky-atc-container-buy-button {
    width: 70%;
  }
  .sticky-atc-container .price-item--sale {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0;
  }
  .sticky-atc-container .price--on-sale .price-item--regular {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0;
  }
</style>
{% schema %}
{
  "name": "Sticky A2C",
  "settings": [],
  "presets": [
    {
      "name": "Sticky A2C"
    }
  ]
}
{% endschema %}
