<div class="sticky-atc-container">
  <div class="page-width">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}
    {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
    <div class="sticky-atc-container-buy-button">
      {%- render 'buy-buttons', product: product, product_form_id: product_form_id, section_id: section.id -%}
    </div>
  </div>
</div>
<style>
  .sticky-atc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sticky-atc-container .page-width {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 1px #382d43;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 15px 0;
  }
  .sticky-atc-container .page-width .price--large {
    width: 30%;
  }
  .sticky-atc-container-buy-button {
    width: 70%;
  }
</style>
{% schema %}
{
  "name": "Sticky A2C",
  "settings": [],
  "presets": [
    {
      "name": "Sticky A2C"
    }
  ]
}
{% endschema %}
