/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.announcement-bar-slider button img {
    width: 60%;
    height: auto;
}

.announcement-bar-slider,
.announcement-bar-slider .slider {
    width: 70% !important;
}

.kanit {
    font-family: 'Kanit', sans-serif;
    line-height: 4.6rem;
    font-size: 4.8rem;
    font-weight: 700;
}

.slideshow__text p {
    line-height: 1.8rem;
    font-weight: 200;
    width: 75%;
    margin: 0 auto;
    font-size: 1.3rem;
}

slideshow-component .slideshow__controls {
    position: absolute;
    border: none;
    bottom: 15px;
    right: 0;
    left: 0;
}

.slideshow__text>* {
    color: white;
}

.section-heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: #382D43;
    margin: 50px auto 30px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: -1px;
}

.section-subheading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #FF9D00;
    margin: 50px auto 0px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: -1px;
}

slideshow-component .slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff !important;
}

slideshow-component .slider-counter__link--dots .dot {
    border: none !important;
    background-color: #ffffff40 !important;
}

.slider-mobile-gutter .slider-button {
    display: none;
}

.quick-add button {
    background: -webkit-gradient(linear, left top, right top, from(rgba(103, 0, 192, 1)), to(rgba(1, 0, 1, 1))) !important;
    background: -o-linear-gradient(left, rgba(103, 0, 192, 1), rgba(1, 0, 1, 1) 100%) !important;
    background: linear-gradient(90deg, rgba(103, 0, 192, 1), rgba(1, 0, 1, 1) 100%) !important;
    color: #ffffff !important;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 55px;
    font-size: 1rem;
    margin: 0 auto;
}

.card__heading {
    font-size: 2.5rem !important;
    color: #483B54;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Kanit', sans-serif;
}

.card__content a {
    text-decoration: none !important;
}

.product-card-subeading {
    color: #5d00b9 !important;
    font-size: 1.4rem;
    letter-spacing: 0px;
    margin: 0 !important;
}

.card-information .rating-count {
    font-size: 1.2rem;
    margin-left: 7px;
    color: #626262
}

.product-card-description {
    font-size: 1.2rem;
    margin: 0 0 15px !important;
    color: #626262
}

.price-dropped-product-card {
    color: #5d00b9 !important;
    font-weight: 600;
    font-size: 1.3rem !important;
    margin: 7px 0 !important;
}

.price-item--sale {
    color: #382D43 !important;
}

.price--on-sale .price-item--regular {
    color: #7B7B7B;
}

.product-card-wrapper .quick-add {
    margin: 1rem 0 !important;
}

.card-information .price-item--sale {
    font-weight: 600;
}

.collection__title h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: -1px;
}


.deal-of-the-day-container {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.deal-of-the-day-container .background-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.deal-of-the-day-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.deal-of-the-day-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.deal-of-the-day-container .card--media {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.deal-of-the-day-container .card-wrapper {
    min-width: 240px;
    width: 240px;
    background: white;
    height: 100%;
    border-radius: 10px;
}

.dotd-product-1,
.dotd-product-2,
.dotd-product-3 {
    position: relative;
}

.lowest-price-badege {
    position: absolute;
    top: 211px;
    left: 0;
    background-color: #FF5757;
    border-radius: 0 50px 0 0;
    padding: 5px 20px 5px 15px;
    font-size: 1rem;
    margin: 0;
    color: #fff;
}

.card-wrapper {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff
}


.deal-of-the-day-container .price-item {
    font-size: 1.6rem !important;
}

.deal-of-the-day-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    height: 470px;
    width: 25%;
}

.deal-of-the-day-text-container .deal-of-the-day-text img {
    width: 80%;
    scale: 1;
    margin: 0;
}

.deal-of-the-day-text-container img {
    width: 100%;
    height: auto;
    scale: 1.4;
    margin-left: -39px;
}

.deal-of-the-day-heading {
    display: none;
    color: #fff;
    font-size: 7rem;
    text-wrap: wrap;
    text-shadow: 3px 3px #7300C5;
    font-weight: 600;
    margin: 0;
    line-height: 6rem;
    font-family: 'Kanit', sans-serif;
}

.deal-of-the-day-heading-2 {
    display: none;
    color: #fff;
    font-size: 5rem;
    text-wrap: wrap;
    text-shadow: 3px 3px #7300C5;
    margin: 0;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    line-height: 7rem;
}

.deal-of-the-day-subheading {
    display: none;
    color: white;
    font-size: 2rem;
    text-wrap: wrap;
    margin: 0;
    font-weight: 400;
}

.deal-of-the-day-subheading span {
    font-weight: 600;
}

.slideshow_media_mobile_image {
    display: none !important;
    width: 100% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    height: auto !important;

}

.slideshow_media_desktop_image {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
}

.collection .slider-buttons {
    display: none !important;
}

.banner__buttons a,
.collection__view-all a:not(.link),
.home-quiz-cta-button,
.home-discreet-packaging button,
.home-all-combos-cta-button,
.carousel-track .quick-add__submit,
.newsletter-form__button {
    -webkit-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    transition: all ease-in .2s;
    border: none !important;
    padding: 10px 55px !important;
    cursor: pointer !important;
    font-size: 1rem !important;
    border-radius: 500px !important;
    text-transform: uppercase;
}

.carousel-track .quick-add__submit {
    width: 90%;
    padding: 0 !important;
}

.banner__buttons a:hover,
.collection__view-all a:not(.link):hover,
.home-quiz-cta-button:hover,
.home-discreet-packaging button:hover,
.home-all-combos-cta-button:hover {
    background-color: #382D43 !important;
    border: none !important;
    color: #FF9D00 !important;
}

.footer-block__newsletter {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__content-top {
    padding: 0 !important;
}

.footer-block__newsletter p {
    width: 35% !important;
    font-size: 1.3rem;
    color: #fff !important;
    text-align: left !important;
    line-height: 2.1rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.newsletter-form__field-wrapper .field__input {
    background: transparent;
    border: #ffffff70 solid 1px;
    border-radius: 500px;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.newsletter-form__field-wrapper .field__label {
    top: 30% !important;
}

.newsletter-form__field-wrapper .field__label {
    color: #ffffff70;
    font-weight: 300;
}

.newsletter-form__button {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 0 3rem;
    background-color: #FF9D00 !important;
    height: 100% !important;
    font-weight: 600;
    color: #382D43;
    border-radius: 110px;
    right: -180px !important;
}

.newsletter-form__field-wrapper .field:after {
    display: none !important;
}

.newsletter-form__field-wrapper {
    max-width: 65% !important;
}

.newsletter-form {
    width: 60% !important;
    max-width: none !important;
    margin: 0 -5rem 0 0 !important;
    padding: 0;
    scale: .8;
}

.footer {
    background: #faf3fb !important;
}

.shopify-section-group-footer-group {
    z-index: 10 !important;
}

.footer-menus-content {
    padding: 4rem;
}

.footer-newsletter-content {
    background-color: #382D43;
    padding: 4rem;
}

.footer-block__image-wrapper {
    width: 14rem !important;
    max-width: none !important;
    height: auto !important;
}

.footer-block__image-wrapper img {
    width: 100% !important;
    height: auto !important;
}

.footer-menus-content a,
.footer-menus-content p {
    font-size: 1.2rem !important;
    letter-spacing: 0;
    text-decoration: none;
    line-height: 1.7rem;
}

.footer-block {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.footer-block__brand-info {
    width: 230px !important;
}

.footer__content-top {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}

.footer-gototop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 1.5rem 2rem;
    border-radius: 620px;
    cursor: pointer;
    background: #625C69;
    border: none;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
}

.footer-gototop img {
    width: 12px;
    height: auto;
}

.footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__menu-item span {
    font-weight: 500;
}

.header--middle-center a.header__heading-link {
    padding-bottom: 0 !important;
}

.header__icon .svg-wrapper,
.header__icon {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: auto !important;
}

.header__search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__icon--cart {
    margin: 0 -12px;
}

.header__icons img {
    width: 50px;
    aspect-ratio: 79 / 38;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: -3px;
}

.header__icons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-categories-container {
    background-color: #FBF4FF;
    padding-top: 12px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    overflow-x: auto;
}

.collection-categories-container {
    background-color: #FBF4FF;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
    position: relative;
}

.collection-categories-container::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    z-index: -1;
}

.collection-categories-container a {
    text-decoration: none;
    cursor: default;
}

.collection-categories-container .page-width {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    text-decoration: none;
}

.collection-circle-category.active {
    position: relative;
}

.collection-circle-category.active img.arrow {
    position: absolute;
    bottom: -39px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 43px;
    height: auto;
    background: transparent;
    padding: 0;
    border-radius: 0;
    aspect-ratio: 47 / 22;
}

.collection-circle-category.active .image-container {
    position: relative;
    z-index: 1;
}

.collection-circle-category.active img {
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}

.collection-circle-category.active .image-container::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 201, 62, 1)), to(rgba(176, 65, 255, 1)));
    background: -o-linear-gradient(left, rgba(255, 201, 62, 1), rgba(176, 65, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 201, 62, 1), rgba(176, 65, 255, 1) 100%);
    z-index: -1;
    border-radius: 5000px;
    aspect-ratio: 1 / 1;
}

.collection-circle-category.active p {
    font-weight: 600;
}

.collection-circle-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.collection-categories-container .collection-circle-category:not(.active) {
    cursor: pointer;
}

.collection-categories-container .collection-circle-category:not(.active):hover {
    opacity: .7;
}

.collection-circle-category img {
    width: 75px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.collection-circle-category p {
    color: #222222;
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: 0;
    text-align: center;
    text-wrap: nowrap;
}

.header-categories-container a {
    cursor: pointer;
    text-decoration: none;
}

.header-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-category img {
    width: 60px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.header-category p {
    color: #222222;
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: 0;
}

.images-carousel-home {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

.images-carousel-home img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

sticky-header {
    -webkit-box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.2);
}

.facets-wrapper--no-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.collection_active_category_name,
.collection-hero__title {
    margin: 0;
    font-size: 3.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    width: 100%;
}

.collection_page_products-grid {
    margin-top: 15px;
}

.facet-filters__field {
    background-color: #F8F8F8;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 1.1rem 1.5rem;
    border-radius: 520px;
}

.facet-filters__field select,
.facet-filters__field option,
.facet-filters__field h2 {
    font-size: 1.3rem;
    color: #000;
}

.facet-filters__field option {
    width: auto;
}

.facet-filters__field select {
    width: 92px;
}

.product-grid-container .collection {
    background-color: transparent;
}

.collection_page_products-grid .facets-wrapper--no-filters #FacetFiltersForm {
    gap: 0;
}

.collection_page_products-grid .facets-container {
    width: 100%;
}

.rating-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3px;
}

.rating-star::before {
    content: '★★★★★';
    background: -webkit-gradient(linear,
            left top, right top,
            from(#FFB800),
            to(rgba(0, 0, 0, 0.15)));
    background: -o-linear-gradient(left,
            #FFB800 var(--percent),
            rgba(0, 0, 0, 0.15) var(--percent));
    background: linear-gradient(90deg,
            #FFB800 var(--percent),
            rgba(0, 0, 0, 0.15) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.05em;
    font-family: 'Arial', sans-serif;
}

.rating-text span {
    display: none;
}

.mobile-usp-right-container {
    display: none !important;
}

.desktop-usp-right-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.product-info-fold-left-container variant-selects .form__label {
    display: none !important;
}

.product-info-fold-left-container variant-selects fieldset {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0 0 0;
}

.carousel-track .card-wrapper .card__information {
    width: 310px !important;
}

@media(max-width:850px) {
    .footer-block__newsletter p {
        width: 100% !important;
    }

    .newsletter-form {
        width: 100% !important;
        margin: 0 0rem 0 -6rem !important;
    }

    .deal-of-the-day-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
    }

    .deal-of-the-day-text-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .deal-of-the-day-container {
        height: 950px;
    }

    .deal-of-the-day-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .deal-of-the-day-text-container img {
        width: 100%;
        margin-top: 20px;
        scale: 1;
        margin-left: 0;
    }

    .deal-of-the-day-products {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 0 20px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .deal-of-the-day-products::-webkit-scrollbar {
        display: none;
    }

}

@media(max-width:750px) {

    #shopify-section-template--23799476715830__slideshow_VzBdWB .slideshow_media_mobile_image,
    #shopify-section-template--23799476715830__slideshow_VzBdWB .slideshow_media_mobile_image img {
        /* aspect-ratio: 412/549 !important;
        height: fit-content !important; */
    }

    #shopify-section-template--23925777301814__slideshow_iHhrW6 .slideshow_media_mobile_image,
    #shopify-section-template--23925777301814__slideshow_iHhrW6 .slideshow_media_mobile_image img,
    #shopify-section-template--23925777301814__slideshow_iHhrW6 .slideshow_media_mobile_image img,
    #shopify-section-template--23925777301814__slideshow_iHhrW6 .images-carousel-home,
    #shopify-section-template--23925777301814__slideshow_iHhrW6 .slideshow.banner {
        aspect-ratio: 206/165 !important;
        height: fit-content !important;
    }

    .announcement-bar__message {
        padding: .65rem 0 !important;
    }

    .mobile-usp-right-container {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .desktop-usp-right-container {
        display: none !important;
    }

    .header-category p {
        font-size: 1.15rem;
        line-height: 1.4rem;
    }

    .collection_page_products-grid .facet-filters {
        padding-left: 1rem;
    }

    .collection_page_products-grid .mobile-facets__wrapper,
    .collection_page_products-grid .product-count {
        display: none !important;
    }

    .deal-of-the-day-text img {
        display: none;
    }

    .deal-of-the-day-heading,
    .deal-of-the-day-heading-2,
    .deal-of-the-day-subheading {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .deal-of-the-day-container {
        height: 930px;
    }

    .section-heading {
        font-size: 3rem;
        line-height: 3rem;
    }

    .product-title,
    .sale-price {
        font-weight: 400;
    }

    .section-subheading {
        line-height: 2rem;
    }

    .footer-newsletter-content {
        padding: 1rem;
    }

    .header__icons {
        padding-right: 0 !important;
        margin-right: -20px !important;
    }

    .deal-of-the-day-heading {
        font-size: 6rem;
    }

    .deal-of-the-day-heading-2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .deal-of-the-day-subheading {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        margin-top: 15px;
    }

    .deal-of-the-day-container .background-image {
        height: 40%;
    }

    .deal-of-the-day-container {
        background-color: #581472;
    }

    .header__icons img {
        display: none;
    }

    .header-categories-container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 10px 10px 5px;
        gap: 20px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .collection-categories-container .page-width {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 20px 10px;
        gap: 20px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .collection-categories-container .page-width::-webkit-scrollbar {
        display: none;
    }

    .collection-circle-category.active img.arrow {
        display: none;
    }


    .deal-of-the-day-container .card-wrapper {
        min-width: 210px;
        width: 210px;
    }

    .quick-add button {
        padding: 10px 35px;
        text-wrap: nowrap;
    }


    .price {
        font-size: 1.4rem !important;
        letter-spacing: 0rem !important;
    }

    .announcement-bar-slider,
    .announcement-bar-slider .slider {
        width: 100% !important;
    }

    .slideshow__text {
        background: transparent !important;
    }

    .banner__box>*+.banner__buttons {
        margin-top: 2rem !important;
    }

    .banner__box>*:first-child {
        margin-top: 0;
        font-size: 3.6rem !important;
        line-height: 3.5rem !important;
    }

    .slideshow__text-wrapper {
        background: transparent !important;
        position: absolute !important;
        top: 50%;
        bottom: 50%;
    }

    .deal-of-the-day-container {
        height: 1010px;
    }

    .slideshow_media_desktop_image {
        display: none !important;
    }

    .slideshow_media_mobile_image {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .lowest-price-badege {
        top: 182px;
    }
}

.jddkUx {
    padding-top: 0 !important;
}

#Slider-template--23925777301814__slideshow_iHhrW6 .media::before {
    padding: 0 !important;
}

.price-dropped-product-card {
    font-size: 1.2rem !important;
}

.newsletter-form__field-wrapper {
    max-width: 60vw !important;
}

.newsletter-form {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin-left: -37px !important;
}

.deal-of-the-day-container {
    height: 870px;
}


.slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item,
.grid--peek .grid__item {
    width: calc(70% - var(--grid-mobile-horizontal-spacing) - 3rem);
}



.footer__blocks-wrapper .footer-block__brand-info {
    width: 100% !important;
}

.footer__blocks-wrapper .footer-block:first-of-type {
    width: 100% !important;

}

.footer-block__details-content {
    margin-bottom: 0rem !important;
}

.footer-block.grid__item {
    margin: 2rem 0 !important;
}

.footer-block {
    width: 48% !important;

}

.footer__blocks-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

@media(max-width:500px) {
    .carousel-track .card-wrapper .card__information {
        width: 195px !important;
    }
}